.center_color_border {
    color:grey;
    text-align:center;
    margin:auto;
    border: 1px grey solid;
}
.text-red {
    color: red;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*width: 100px;*/
    border: 15px solid gray;
    text-align: center;
   
}
    
nav li {
    display: inline-block;
     border-right: 2px solid white;
     
}

nav li a {
    /*display:block;*/
    padding: 15px 12px;
    color: gray;
    text-decoration: none;
}


nav li a:hover {
    color: white;
    background-color: black;
}












/*nav li a {*/
    /*display:block;*/
    /*padding: 10px 12px;*/
    /*color: gray;*/
    /*text-decoration: none;*/
}